@import "tailwindcss";

@font-face {
  font-family: 'Sentient';
  src: url('/Sentient-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sentient';
  src: url('/Sentient-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sentient: 'Sentient', sans-serif;
  --font-sentient-italic: 'Sentient', sans-serif;
}

:root {
  --background: #020617;
  --foreground: #ffffff;
  --primary: #FFC700;
  --primary-foreground: #000000;
  --border: #424242;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

#webgl {
  top: 0;
  left: 0;
  position: fixed;
  height: 100svh;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

#webgl canvas {
  width: 100%;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}